<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!--	Simulation Initial Conditions	-->
	<simulation>
		<time_step>0.01</time_step>
		<time_limit>3</time_limit>
		<destination>
			<latitude>0.0001</latitude>
			<longitude>0.0002</longitude>
			
			<tolerance>3</tolerance>
		</destination>
	</simulation>
	
	<rover_model>
		<max_speed>1.0</max_speed>
		
		<!-- 	Rover Initial Conditions	-->
		<initial_conditions>
			<latitude>0</latitude>
			<longitude>0</longitude>
			<heading>-45</heading>
			<power_left>0.01</power_left>
			<power_right>1.0</power_right>
		</initial_conditions>
		
		<!--	Configuration of Modules	-->
		<modules>
		</modules>
		
		<!-- 	Configuration of Aggregate Models	-->
		<aggregates>
		
			<!--	KMA Initial Conditions	-->
			<drive_model>
				<icr>0.3</icr>
				<alpha>1</alpha>
			</drive_model>
			
			<!--	Configuration of GPS Model	-->
			<gps_model>
				<std_lat>3.597286423674922e-06</std_lat>
				<std_lon>3.597286423674922e-06</std_lon>
			</gps_model>
		</aggregates>
	</rover_model>
</configuration>
